<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link
      rel="preconnect"
      href="https://cdn.shopify.com"
      crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    {{ 'bundle.css' | asset_url | stylesheet_tag: preload: true }}

    {% if settings.favicon %}
      <link
        rel="shortcut icon"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}"
        type="image/png">
    {% endif %}

    <title>{{ page_title | escape }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {{ 'bundle.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}
  </head>

  <body class="{{ template.name }}">
    <div {% unless request.page_type == 'captcha' %}id="app"{% endunless %}>
      {% sections 'header-group' %}
      <main id="main" role="main">
        {{ content_for_layout }}
      </main>
      {% section 'footer' %}
    </div>

    <!-- webpack bundle -->
    <script>
      window.Moonbase = window.Moonbase || {};
      Moonbase.template = {{ template | json }};{%- case template.name -%}
      {%- when 'collection' -%}
        Moonbase.collectionJson = {{ collection.products | json }};
      {%- when 'product' -%}
        Moonbase.productJson = {{ product | json }};
      {%- else -%}
      {%- endcase -%}
      Moonbase.locale = {
        code: {{ request.locale.iso_code | json }},
        primary: {{ request.locale.primary | json }},
        domain: {{ request.host | json }}
      }
      Moonbase.sections = [{
          sections: ['header'],
          path: {{ 'moonbase-header.js' | asset_url | json }}
        }]
      Moonbase.paths = {
        header: `{{ 'moonbase-header.js' | asset_url | json }}`
      }
    </script>
    <script src="{{ 'moonbase-main.js' | asset_url }}" defer="defer"></script>
  </body>
</html>