<section id="{{ section.id }}" class="container mx-auto px-2">
    <div class="swiper grid-swiper">
      <div class="swiper-wrapper md:grid md:grid-cols-4 gap-4">
        {% for product in section.settings.collection.products %}
        <div class="collection-card swiper-slide">
              <div class="image-container">
                <ul class="product-tags flex">
                  {% for tag in product.tags %}
                  <li>
                        <span class="{{ tag | handleize }}">{{ tag }}</span>
                  </li>
                  {% endfor %}
                </ul>
                <img class="slideshow__image slideshow__image--{{ block.id }} lazyload"
                  src="{{ product.featured_image | img_url: '550x' }}"
                  data-src="{{ img_url }}"
                  data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                  data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                  data-sizes="auto"
                  data-parent-fit="cover"
                  alt="{{ product.featured_image.alt | escape }}">
                  
                <input type="button" value="Quick Add" id="quick-add" class="quick-add-overlay" />
              </div>
          
              <label class="product-vendor">{{ product.vendor }}</label>
              <h3 class="product-title">{{ product.title }}</h3>
              <p class="product-price">{{ product.price | money_with_currency }}</p>
              <p class="product-description">{{ product.description }}</p>
  
        </div>
        {% endfor %}
        <div class="swiper-pagination"></div>
      </div>
    </div>
</section>

{% schema %}
{
  "name" : "featured-collection",
  "settings" : [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Featured collection",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets" : [
    {
      "name" : "Featured Collection",
      "category": "Custom"
    }
  ]
}
{% endschema %}