<section id="{{ section.id }}" class="container mx-auto px-2">
  <h3>Hi this is Lou, I start at 10pm PH Time and setup Shopify CLI for about 30minutes or so. 
    I just first tried Shopify CLI it works on me locally but don't have an idea of adding the section in homepage via code locally.
    I know git hub wayback before and thankfully I still remember how to push, commit, clone, and basics stuff. I am having a hard time going back and forth in CLI.
    As you can see in <a href="https://github.com/marlou-tayao/bts-developer-test" target="_blank" style="font-weight:bold;"> my account</a> I forked the github project and clone it on my desktop.
    I only used Tailwind once in my project since I use bootstrap mostly but there should not be a problem, just reading the docs alongside would be ok.
  </h3>
  <p>
    So that's it after trying some stuff in Shopify CLI and having a hard time, I used what i'm comfortablly at and directly edit the code in Shopify 
    I hope that's okay on your end.
  </p>
  <p>
    I officially start at around 10:35pm-10:45pm, I have hard time adding the swiper JS only for mobile since I want the swiper will be automatically updated on window resize.
    I end up loading it only on page load. I'm thinking if there is a person shopping online would do the resizing of window haha.

    For the product tags should be easy.
    I didn't add the 'Add to Cart', 'Variants + Label' since it's already 3hrs as I writing this in 1:30am PH Time haha.

    I'm pretty confident that I can do the remaining but like you said you don't want me to spend too long on this task. 
     
  </p>
  <p>
    I hope that you're happy with my current solution as of now. maybe today I don't know the in and out in Shopify CLI but 
    as a developer i'm still in the learning process so we don't know maybe tomorrow or soon I can do it confidently already in Shopify CLI.
    Thank you and have a good day!
  </p>
    <div class="swiper grid-swiper">
      <div class="swiper-wrapper md:grid md:grid-cols-4 gap-4">
        {% for product in section.settings.collection.products %}
        <div class="collection-card swiper-slide">
              <div class="image-container">
                <ul class="product-tags flex">
                  {% for tag in product.tags %}
                  <li class="{{ tag | handleize }}">
                        <span>{{ tag }}</span>
                  </li>
                  {% endfor %}
                </ul>
                <img class="slideshow__image slideshow__image--{{ block.id }} lazyload"
                  src="{{ product.featured_image | img_url: '550x' }}"
                  data-src="{{ img_url }}"
                  data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                  data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                  data-sizes="auto"
                  data-parent-fit="cover"
                  alt="{{ product.featured_image.alt | escape }}">
                  
                <input type="button" value="Quick Add" id="quick-add" class="quick-add-overlay" />
              </div>
          
              <label class="product-vendor">{{ product.vendor }}</label>
              <h3 class="product-title">{{ product.title }}</h3>
              <p class="product-price">{{ product.price | money_with_currency }}</p>
              <p class="product-description">{{ product.description }}</p>
  
        </div>
        {% endfor %}
        <div class="swiper-pagination"></div>
      </div>
    </div>
</section>

{% schema %}
{
  "name" : "featured-collection",
  "settings" : [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Featured collection",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets" : [
    {
      "name" : "Featured Collection",
      "category": "Custom"
    }
  ]
}
{% endschema %}