<section id="{{ section.id }}" class="container mx-auto px-2">
    {% for product in section.settings.collection.products %}
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
          <img src="{{ product.featured_image | img_url: 'master' }}" loading="lazy"/>
          <h3>{{ product.title }}</h3>
          <p class="product-price">{{ product.price }}</p>
          <p class="product-description">{{ product.description }}</p>
    </div>
    {% endfor %}
</section>

{% schema %}
{
  "name" : "featured-collection",
  "settings" : [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Featured collection",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets" : [
    {
      "name" : "Featured Collection",
      "category": "Custom"
    }
  ]
}
{% endschema %}